/** login */
.login.container,
.register.container {
    text-align: center;
    padding-top: 50px;
}

.login.cover > img,
.register.cover > img {
    width: 100%;
}

.form-group > input{
    border-radius: 8px;
    line-height: 36px;
    font-size: 18px;
}

.login .form-group > input {
    width: calc(100% - 42px);
}

.login.login-form,
.register.register-form {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.welcome-message {
    font-size: 24px;
    margin: 26px 0px;
}

.login-form > form > * {
    margin-bottom: 12px;
}

#login_email {
    background: url("../images/login/input_user@2x.png") no-repeat scroll 8px;
    padding-left: 36px;
}

#login_password {
    background: url("../images/login/input_password@2x.png") no-repeat scroll 8px;
    padding-left: 36px;
}

#form_submit_btn {
    background-color: #D34C41;
    padding: 8px 32px;
    border-radius: 8px;
    color: #FFFFFF;
}

.login-form .form-group:nth-child(3) {
    text-align: end;
}

.login-form .form-submit,
.register-form .form-submit, 
.redirect-register {
    margin-top: 32px;
}


/** register */
.register .form-group > input {
    width: calc(100% - 7px);
    text-align: center;
}

.form-group {
    margin-bottom: 12px;
}

.register .form-group:first-child {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 12px;
}